.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  padding: 88px 24px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.blog.hero,
.travel-packages.hero {
  margin-bottom: 88px;
}

.travel-packages.hero .hero-img {
  height: 460px;
  background: url(../img/hero-travel-packages-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.blog.hero .hero-img {
  height: 460px;
  background: url(../img/hero-blog-tablet.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.blog.hero .hero-content,
.travel-packages.hero .hero-content {
  top: 140px;
  text-align: left;
  width: 312px;
  padding-top: 65px;
}

.blog.hero .hero-content h2,
.travel-packages.hero .hero-content h2 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
  font-style: bold;
  padding: 0;
  text-align: left;
}

.blog.hero .hero-content hr,
.travel-packages.hero .hero-content hr {
  width: 180px;
  border: 2px solid var(--secondary-color);
  margin-top: 16px;
}

.blog.hero .hero-content p,
.travel-packages.hero .hero-content p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  color: var(--text-secondary-color);
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .travel-packages.hero .hero-img {
    height: 620px;
    background: url(../img/hero-travel-packages-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blog.hero .hero-img {
    height: 620px;
    background: url(../img/hero-blog-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blog.hero .hero-content,
  .travel-packages.hero .hero-content {
    padding-top: 210px;
    width: 580px;
    margin: 0 auto 88px 120px;
  }

  .blog.hero .hero-content p,
  .travel-packages.hero .hero-content p {
    font-size: 32px;
    font-weight: var(--text-weight);
    line-height: 150%;
    color: var(--text-secondary-color);
    margin-top: 32px;
  }
}


@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero h2 {
    padding: 88px 120px;
  }

  .travel-packages.hero .hero-img {
    background: url(../img/hero-travel-packages-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blog.hero .hero-img {
    background: url(../img/hero-blog-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blog.hero .hero-content,
  .travel-packages.hero .hero-content {
    padding-top: 158px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
